# k8s/helm-values/monitoring-values.yaml
prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}
    externalLabels:
      cluster: local

kubeProxy:
  enabled: false

nodeExporter:
  enabled: true

prometheus-node-exporter:
  hostRootFsMount:
    enabled: false

grafana:
  adminPassword: "admin"
  service:
    type: NodePort
    nodePort: 30000 # Easy access on localhost:30000
  
  additionalDataSources:
    - name: Tempo
      type: tempo
      uid: tempo
      access: proxy
      url: http://tempo.default.svc.cluster.local:3100
      jsonData:
        httpMethod: GET
        tracesToLogs:
          datasourceUid: 'prometheus'
          tags: ['service.name']
          mapTagNamesEnabled: true
        serviceMap:
          datasourceUid: 'prometheus'
        nodeGraph:
          enabled: true
